@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}